!xcalc
xcalc*geometry: 200x275
xcalc.ti.bevel.background: #111111
xcalc.ti.bevel.screen.background: #000000
xcalc.ti.bevel.screen.DEG.background: #000000
xcalc.ti.bevel.screen.DEG.foreground: LightSeaGreen
xcalc.ti.bevel.screen.GRAD.background: #000000
xcalc.ti.bevel.screen.GRAD.foreground: LightSeaGreen
xcalc.ti.bevel.screen.RAD.background: #000000
xcalc.ti.bevel.screen.RAD.foreground: LightSeaGreen
xcalc.ti.bevel.screen.INV.background: #000000
xcalc.ti.bevel.screen.INV.foreground: Red
xcalc.ti.bevel.screen.LCD.background: #000000
xcalc.ti.bevel.screen.LCD.foreground: LightSeaGreen
xcalc.ti.bevel.screen.LCD.shadowWidth: 0
xcalc.ti.bevel.screen.M.background: #000000
xcalc.ti.bevel.screen.M.foreground: LightSeaGreen
xcalc.ti.bevel.screen.P.background: #000000
xcalc.ti.bevel.screen.P.foreground: Yellow
xcalc.ti.Command.foreground: White
xcalc.ti.Command.background: #777777
xcalc.ti.button5.background: Orange3
xcalc.ti.button19.background: #611161
xcalc.ti.button18.background: #611161
xcalc.ti.button20.background: #611111
xcalc.ti.button25.background: #722222
xcalc.ti.button30.background: #833333
xcalc.ti.button35.background: #944444
xcalc.ti.button40.background: #a55555
xcalc.ti.button22.background: #222262
xcalc.ti.button23.background: #222262
xcalc.ti.button24.background: #222272
xcalc.ti.button27.background: #333373
xcalc.ti.button28.background: #333373
xcalc.ti.button29.background: #333373
xcalc.ti.button32.background: #444484
xcalc.ti.button33.background: #444484
xcalc.ti.button34.background: #444484
xcalc.ti.button37.background: #555595
xcalc.ti.button38.background: #555595
xcalc.ti.button39.background: #555595
XCalc*Cursor:                 hand2
XCalc*ShapeStyle:             rectangle

!!----------------------------------------------------------------------------!!
!! Xft (font) settings
!!----------------------------------------------------------------------------!!

xft*dpi: 96
xft*antialias: false
xft*hinting: full
xft*rgba: rgb
xft*autohint: false
xft*hintstyle: hintslight
xft*lcdfilter: lcddefault

!!----------------------------------------------------------------------------!!
!! mouse cursor settings
!!----------------------------------------------------------------------------!!
xcursor*theme:              Vanilla-DMZ
xcursor*size:               22


!!----------------------------------------------------------------------------!!
!! general settings
!!----------------------------------------------------------------------------!!

xTerm*fontMenu*fontdefault*Label: Regular
xTerm*reverseVideo: off
xterm*boldMode: false
xterm*allowBoldFonts: false
xterm*fastScroll: true
xterm*jumpScroll: true
xterm*multiScroll: true
xTerm*visualbell: true
xTerm*xftAntialias: 1
xTerm*cjkWidth: 0
xTerm*scrollBar: 0
xTerm*bellIsUrgent: 1
xTerm*locale: 1
!xTerm*utf8: 1
xTerm*utf8Title: 1
xterm*metaSendsEscape: false
xTerm*pointerColor: white
xTerm*pointerColorBackground: black
xTerm*cursorColor: yellow
xTerm*cursorBlink: true
xterm*faceName:  Dejavu Sans Mono for  Powerline
xterm*faceSize:  8,7
xterm*loginShell: true
xterm*vt100*geometry: 72x24
xterm*termName: xterm-256color
xterm*saveLines: 4096
xterm*charClass: 33:48,35:48,37:48,43:48,45-47:48,64:48,95:48,126:48
xterm*eightBitInput: false
xterm*borderWidth: 0
xTerm*dynamicColors: true
xTerm*selectToClipboard: true

VT100*translations: #override Shift <Btn1Up>: exec-formatted("firefox '%t'", PRIMARY)
XTerm*on3Clicks: regex ([[:alpha:]]+://)?([[:alnum:]!#+,./=?@_~-]|(%[[:xdigit:]][[:xdigit:]]))+

XTerm*vt100.translations: #override \
Shift Ctrl <KeyPress> C:  copy-selection(CLIPBOARD,CUT_BUFFER0) \n\
Shift Ctrl <KeyPress> V:  insert-selection(CLIPBOARD,CUT_BUFFER0)


urxvt*font: Source\ Code\ Pro\Medium:pixelsize=13:antialias=true:hinting=tue,:Source\ Code\ Pro\Medium:pixelsize=13:antialias=true:hinting=true
urxvt*scrollBar: false

URxvt*perl-ext-common : default,matcher,tabbed,clipboard,url-select,keyboard-select
URxvt*urlLauncher     : firefox
URxvt*url-select.underline: true
URxvt*matcher.button  : 1
Urxvt*matcher.pattern.1:   \\bwww\\.[\\w-]+\\.[\\w./?&@#-]*[\\w/-]
URxvt*keysym.M-u:           perl:url-select:select_next
URxvt*keysym.M-Escape:      perl:keyboard-select:activate
URxvt*keysym.M-s:           perl:keyboard-select:search


URxvt*tabbed.tabbar-fg : 5
URxvt*tabbed.tabbar-bg : 0
URxvt*tabbed.tab-fg : 14
URxvt*tabbed.tab-bg : 0

URxvt*geometry: 76x23
URxvt*fading:               0
URxvt*loginShell:           true
URxvt*saveLines:            50
URxvt*internalBorder:       3
URxvt*lineSpace:            
URxvt*pointerBlank: true
URxvt*skipBuiltinGlyphs:    true

URxvt*cursorBlink:          true
URxvt*cursorColor:          #657b83
URxvt*cursorUnderline:      false



!!----------------------------------------------------------------------------!!
!! colors
!!----------------------------------------------------------------------------!!

#define base00 #1d1f21
#define base01 #282a2e
#define base02 #373b41
#define base03 #969896
#define base04 #b4b7b4
#define base05 #c5c8c6
#define base06 #e0e0e0
#define base07 #ffffff
#define base08 #cc6666
#define base09 #de935f
#define base0A #f0c674
#define base0B #b5bd68
#define base0C #8abeb7
#define base0D #81a2be
#define base0E #b294bb
#define base0F #a3685a

*foreground:   base05
*background:   base00
*color0:       base00
*color1:       base08
*color2:       base0B
*color3:       base0A
*color4:       base0D
*color5:       base0E
*color6:       base0C
*color7:       base05
*color8:       base03
*color9:       base08
*color10:      base0B
*color11:      base0A
*color12:      base0D
*color13:      base0E
*color14:      base0C
*color15:      base07
!!----------------------------------------------------------------------------!!
!!Note: colors beyond 15 might not be loaded (e.g., xterm, urxvt),
!! use 'shell' template to set these if necessary
!!----------------------------------------------------------------------------!!
*color16:      base09
*color17:      base0F
*color18:      base01
*color19:      base02
*color20:      base04
*color21:      base06

